

@section css{
    <link href="~/Content/custom.css" rel="stylesheet" />
}
<div class="custom-card">
    <div class="row">
        <div class="col-md-offset-2">

            <span class="v-bottom" style="font-size:18px;font-weight:500;color:#428af5; padding-right:1200px;">
                <h1>Vacancy  List</h1>
            </span>

            <button id="addvacancy" type="button" class="btn btn-primary btn-sm btn-rounded btnmain" style="background-color:#0000ff;border-color:#47d147;border-color:black" onclick="InsertVacancy()" title="Add New"><i class="fa fa-plus"></i> Add New Vacancy</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="container-fluid">
                <table id="" class="vacancy table table-bordered table-striped table-hover" width="100%">
                    <thead>
                        <tr>
                            <th>Position Name</th>
                            <th>Number of Vacancies</th>
                            <th>Last Date of Application</th>
                            <th></th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
<div class="modal fade slide-down" id="DeleteVacModel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="v-cell">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <div class="modal-body">
                    Are you sure want to delete?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" onclick="Delvac()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="vacancyMD">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalHeaderSample">Add Vacancies</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <br />


            <div class="modal-body" id="modalBodySample">
                @model HRManagementSystem.Models.Recircument
                @using (Html.BeginForm("AddVacancy", "HumanResource", FormMethod.Post, new { @id = "SOFORM" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="name">Position Name</label>
                                <input type="text" class="form-control" id="position" name="Position" required="">
                            </div>




                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="name">Number of Vacancies</label>
                                <input type="text" class="form-control" id="numberofvac" name="numberofvac" required="">
                            </div>




                        </div>
                    </div>
                    <div class="form-group">
                        <label for="last_date">Last Date Of Application</label>
                        @Html.TextBoxFor(model => model.date, "{0:yyyy-MM-dd}", new { @id = "date", @type = "date", @class = "form-control" })
                    </div>
                    <div class=" form-group text-center">
                        <button class="btn btn-primary mt-2 w-50" style="" type="submit">Submit</button>
                    </div>
                    <input type="hidden" name="ReId" value="0" id="reid" />
                }
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="~/themekit/Moment.min.js"></script>
    <script src="~/themekit/bootstrap-datetimepicker.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script type="text/javascript">

        var ReId;
        $(function () {
            vacancylist();
        });


        function vacancylist() {
            var SetData = $(".vacancy tbody").empty();

            if ($.fn.DataTable.isDataTable('.vacancy')) {

                $('.vacancy').DataTable().clear().destroy();

            }

            $('.vacancy').DataTable({

                "ajax": {
                    "url": "/HumanResource/VacancyList",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [

                    { "data": "Position" },
                    { "data": "numberofvac" },
                    {
                        "data": "date", render: function (data, type, row) {
                            if (type === "sort" || type === "type") {
                                return data;
                            }
                            return moment(data).format("MM-DD-YYYY");
                        }
                    },
                    { className: "hide", data: 'ReId' },
                    {

                        "mRender": function (data, type, row) {
                            return '<a href="#" class="editor_remove" onclick="EditVac(' + row.ReId + ', \'' + row.Position + '\' , \'' + row.numberofvac + ' \', \'' + row.date + '\')">Edit</a>'


                        }
                    }, {

                        "mRender": function (data, type, row) {
                            return '<a href="#" class="editor_remove" onclick="DeleteVac(' + row.ReId + ')">Delete</a>'


                        }
                    }

                ]

                    });
        }
        function EditVac(Id, Position, numberofvac,date) {

            date = moment(date).format("YYYY-MM-DD");
            //alert(Id);
           // alert(Position);
            //alert(numberofvac);
           // alert(date);
            $('#reid').val(Id);
            $('#position').val(Position);
            $('#numberofvac').val(numberofvac);
            $('#date').val(date);
            $('#vacancyMD').modal('show');

        }
        function InsertVacancy() {
            $('#reid').val(null);
            $('#position').val(null);
            $('#numberofvac').val(null);
            $('#date').val(null);
            $('#vacancyMD').modal('show');
        }
        function DeleteVac(Id) {
            ReId = Id;
            $('#DeleteVacModel').modal('show');
        }


        function Delvac() {
            $.ajax({
                cache: false,
                url: '@Url.Action("DeleteVacancy", "HumanResource")',
                data: { ReId: ReId },
                beforeSend: function () {
                    $('#DeleteVacModel').modal('hide');
                },
                success: function (myData) {


                },

                complete: function () {
                    vacancylist();
                }
            });
        }
    </script>
}